@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh
}

a {
  @apply text-white hover:text-gray-400 active:text-gray-500 transition ease-in-out duration-300;
}

/* TODO maybe put this in file */
input:focus ~ .input-animate,
input:not(:placeholder-shown) ~ .input-animate {
  @apply text-blue-500 transform -translate-y-5 -translate-x-1 scale-75;
}
